
.contacto {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #B16B78;
    color: white;
    padding: 10px 20px; /* Ajustar el espaciado para pantallas más pequeñas */
    width: 100%;
    box-sizing: border-box;
    bottom: 0;
}
.footer-left, .footer-right {
    flex: 1; /* Hace que ambas secciones ocupen el mismo espacio */
    text-align: center;
}

.footer-link {
    color: white; /* Color de los enlaces */
    text-decoration: none; /* Quitar subrayado del enlace */
    font-family: "Futura", sans-serif; /* Fuente */
    font-size: 18px;
}

.footer-link:hover {
    text-decoration: underline; /* Subrayado al pasar el cursor */
}

.img-footer {
    position: relative;
    background-image: url('/assets/img/Categorías/footer-bf-copia.jpg');
    background-position: center;
    background-repeat: no-repeat;
    height: 200px;
    width: 100%;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row; /* Mantiene los elementos en una fila */
    max-width: 100%; /* Asegura que la imagen no se desborde */
}

.img-footer::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.411);
    z-index: 1;
}

.logo-texto-izq {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 50px;
    z-index: 2;
    text-align: center;
}

.logo-footer {
    max-width: 400px;
    height: auto;
}

.text-giofemme {
    font-family: "Nunito Sans", sans-serif;
    font-size: 13px;
    color: white;
    margin-top: 10px;
    line-height: 18px;
}

.text-der, .text-der-compra {
    text-align: center;
    display: flex;
    flex-direction: column; 
    align-items: last baseline; /* Centra los elementos horizontalmente */
    color: white;
    font-family: "Nunito Sans", sans-serif;
    font-size: 13px;
    font-weight: bold;
    z-index: 2;
    margin-bottom: 50px;

    width: 100%; /* Asegura que los elementos no se extiendan más allá de su contenedor */
}

.text-der-compra {
    margin-right: 100px;
}

/* Ajuste para los enlaces en fila */
.text-der a {
    display: inline-block; /* Asegura que los enlaces estén en línea */
    margin-right: 10px; /* Espacio entre los enlaces */
    text-decoration: none;
    margin-top: 5px;
    font-family: "Nunito Sans", sans-serif; /* Familia de la fuente */
    font-weight: 300; /* Peso 300 (ligero) */
    font-size: 16px; /* Tamaño de letra */
    line-height: 25px; /* Altura de línea */
    color: rgb(255, 255, 255); /* Color blanco */
}

/* Paymentez centrado */
.paymentez {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    width: 200px;
}

.text-tienda-online {
    font-family: "Nunito Sans", sans-serif;
    font-size: 20px;
    margin-top: 50px;   
    color: white;
}
.text-der-compra{
    font-family: "Nunito Sans", sans-serif;
    font-size: 20px;
    margin-top: 10px;
    color: white;

}
.copyright {
    color: white;
    font-family: "Nunito Sans", sans-serif;
}
.copy{
    text-align: center;
    font-family: "Nunito Sans", sans-serif;
    font-size: 14px;
    color: rgb(100, 100, 100);
    padding: 6px;
}


.whatsapp-float {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 100;
    background-color: #25D366;
    color: white;
  }

  @media (max-width: 640px) {
    .contacto {
        flex-direction: column; /* Cambiar a columna en pantallas pequeñas */
        align-items: flex-start; /* Alinear elementos a la izquierda */
        padding: 10px 10px; /* Reducir espaciado */
    }

    .footer-left, .footer-right {
        text-align: left; /* Alinear texto a la izquierda en móviles */
        margin-bottom: 10px; /* Espacio entre los enlaces */
    }

    .img-footer {
        flex-direction: column; /* Cambiar a columna para la imagen y el texto en móviles */
        align-items: center; /* Centrar elementos */
        padding: 10px; /* Espacio interno */
    }

    .logo-texto-izq {
        margin-left: 0; /* Eliminar margen izquierdo en móviles */
        margin-bottom: 10px; /* Espacio inferior para separar */
    }

    .text-der, .text-der-compra {
        text-align: center; /* Centrar texto en móviles */
        margin: 10px 0; /* Espacio vertical entre secciones */
    }

    .text-der a {
        display: block; /* Cambiar a bloque para enlaces en móviles */
        margin-right: 0; /* Eliminar margen a la derecha */
        margin-top: 5px; /* Espacio superior entre enlaces */
    }

    .paymentez {
        width: 150px; /* Ajustar el ancho de la imagen de Paymentez */
    }

    .copyright {
        text-align: center; /* Centrar copyright en móviles */
        margin: 10px 0; /* Espacio vertical */
    }

    .copy {
        font-size: 12px; /* Ajustar tamaño de fuente */
    }
    .custom-link {
        font-size: 0.8rem; /* Tamaño de letra pequeño */
    }

}

@media (max-width: 480px) {
    .text-tienda-online, .text-compra-segura {
        font-size: 16px; /* Ajustar tamaño de fuente */
    }

    .text-giofemme {
        font-size: 12px; /* Reducir tamaño de texto para mejor legibilidad */
        line-height: 16px; /* Ajustar altura de línea */
    }
}
@media (min-width: 641px) {
    .custom-link {
        font-size: 1rem; /* Tamaño de letra normal para pantallas más grandes */
    }
}
