<link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&display=swap" rel="stylesheet">

<app-whats-app-modal></app-whats-app-modal>



<div class="contacto">
    <div class="footer-left">
        <a href="#" class="footer-link">SOBRE BIOFEMME</a>
    </div>
    <div class="footer-right">
        <a href="#" class="footer-link">CONTACTO</a>
    </div>

</div>

<footer>
    <div class="img-footer flex flex-col md:flex-row justify-between items-center bg-cover bg-center relative h-52 p-4">
        <div class="logo-texto-izq flex flex-col items-center z-10 text-center mb-4 md:mb-0">
            <img class="logo-footer max-w-xs" src="assets/img/footer/logo-footer.png" alt="logo-biofemme">
            <p class="text-giofemme text-xs md:text-sm">BIOFEMME es una marca elaborada por CRESENS DERMOCOSMÉTICA y <br>distribuida por LABORATORIOS ROCNARF.</p>
        </div>
    
        <div class="text-der flex flex-col items-center z-10 text-center mb-4 md:mb-0">
            <h4 class="text-tienda-online text-sm md:text-lg">TIENDA ONLINE</h4>
            <a class="link-tiendaOnline custom-link" href="">Mi cuenta</a>
            <a class="link-tiendaOnline custom-link" href="">Términos y condiciones</a>
            <a class="link-tiendaOnline custom-link" href="">Políticas de envíos</a>
        </div>
        
    
        <div class="text-der-compra flex flex-col items-center z-10 text-center">
            <h4 class="text-compra-segura text-sm md:text-lg">COMPRA SEGURA</h4>
            <img class="paymentez w-32" src="/assets/img/paymentez.png" alt="">
        </div>
    </div>
    
    
    <div class="Copyright">
        <p class="copy">Copyright © 2024 | BioFemme</p>
    </div>
</footer>