<link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&display=swap" rel="stylesheet">

<div class="contacto">
    <div class="footer-left">
        <a href="#" class="footer-link">SOBRE BIOFEMME</a>
    </div>
    <div class="footer-right">
        <a href="#" class="footer-link">CONTACTO</a>
    </div>

</div>
<footer>
    <div class="img-footer">
        <div class="logo-texto-izq">
            <img class="logo-footer" src="assets/img/footer/logo-footer.png" alt="logo-biofemme">
            <p class="text-giofemme">BIOFEMME es una marca elaborada por CRESENS DERMOCOSMÉTICA y <br>distribuida por
                LABORATORIOS ROCNARF.</p>

        </div>
            <div class="text-der">
                <h4 class="text-tienda-online">TIENDA ONLINE</h4>
                <a class="link-tiendaOnline" href="">Mi cuenta</a>
                <a class="link-tiendaOnline" href="">Términos y condiciones</a>
                <a class="link-tiendaOnline" href="">Políticas de envíos</a>
            </div>

            <div class="text-der-compra">
                <h4 class="text-compra-segura">COMPRA SEGURA</h4>
                <img class="paymentez" src="/assets/img/paymentez.png" alt="">
            </div>
        
    </div>
    <div class="Copyright">
        <p class="copy">Copyright © 2024 | BioFemme</p>
    </div>
</footer>