.categorias-container {
    display: flex;
    justify-content: space-between; /* Espacio entre las imágenes */
    padding: 10px; /* Espacio alrededor del contenedor */
    overflow: hidden; /* Evita que el contenido se desborde */
  }
  
  .categoria {
    flex: 1; /* Permite que cada imagen ocupe espacio igual */
    margin: 0 5px; /* Espacio entre las imágenes */
    position: relative; /* Necesario para posicionar las imágenes */
  }
  
  .imagen {
    width: 100%; /* La imagen ocupa todo el ancho del contenedor */
    height: auto; /* Mantiene la proporción de la imagen */
    border-radius: 8px; /* Opcional: bordes redondeados */
    transition: opacity 0.8s ease, filter 0.8s ease; /* Transición más lenta para mayor suavidad */
  }
  
  .imagen-hover {
    position: absolute; /* Posiciona la imagen de hover encima */
    top: 0; /* Alinea al tope */
    left: 0; /* Alinea a la izquierda */
    right: 0; /* Alinea a la derecha */
    bottom: 0; /* Alinea al fondo */
    width: 100%; /* Ocupa todo el ancho del contenedor */
    height: 100%; /* Ocupa toda la altura del contenedor */
    border-radius: 8px; /* Bordes redondeados */
    opacity: 0; /* Inicialmente oculta */
    transition: opacity 0.8s ease; /* Transición suave para mostrar la imagen en color */
  }
  
  .categoria:hover .imagen {
    opacity: 0; /* Oculta la imagen original al hacer hover */
    filter: grayscale(0%); /* Remueve el filtro de escala de grises al hacer hover */
  }
  
  .categoria:hover .imagen-hover {
    opacity: 1; /* Muestra la imagen de hover al hacer hover */
  }
  .titulo {
    position: absolute; /* Posiciona el título dentro del contenedor */
    bottom: 0; /* Alinea el título al fondo */
    left: 0; /* Alinea el título a la izquierda */
    right: 0; /* Alinea el título a la derecha */
    color: white; /* Color del texto */
    font-family: "Futura Book", sans-serif;
    font-size: 20px;
    line-height: 30px;
    text-align: center; /* Centra el texto */
    padding: 25px 0; /* Espacio alrededor del texto */
    border-radius: 0 0 8px 8px; /* Bordes redondeados en la parte inferior */
  }
  